<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!-- Main Content -->
<div class='container-fluid'>
  <div class="row outerDiv">
    <div class="col-xs-3 col-md-2 imageDiv d-none d-lg-block" >
       <img class="img-responsive" style="margin-top: 100%" id="swoosh" src="../Assets/images/sideimagel.png">
    </div>
    <div class="col">
  <main class="container">
     <div style="text-align:center;" >
        <img src="../Assets/images/logo.jpg">
        <div class="container">
            <h1 class="fill fw-bold" style="text-align:center; color: white;">Team Members </h1>
                <div class="groupRow">
                    <div class="column">
                    <img src="../Assets/images/Aayushi.jpeg" width="250" height="250">
                    <p><br><b>Ayushi Patel</b> <br> Project Manager</p>
                    </div>
                    <div class="column">
                    <img src="../Assets/images/Krunal.jpg" width="250" height="250">
                    <p><br><b>Krunal Prajapati</b> <br> Lead Software Engineer</p>
                    </div>
                    <div class="column">
                    <img src="../Assets/images/Louis.jpg" width="250" height="250">
                    <p><br><b>Louis Severin  Iyodusenga</b> <br> Web Designer</p>
                    </div>
                </div>
                 <div class="groupRow">
                </div>
                <div class="groupRow">
                    <div class="column">
                    <img src="../Assets/images/Vasu.jpeg" width="250" height="250">
                    <p><br><b>Vasu Patel</b> <br> Database Programmer</p>
                    </div>
                    <div class="column">
                    <img src="../Assets/images/Javed.jpg" width="250" height="250">
                    <p><br><b>Javed Hassan</b> <br> Security Programmer</p>
                    </div>
                     <div class="column">
                    <img src="../Assets/images/Mia.jpg" width="250" height="250">
                    <p><br><b>Li Jiamei</b> <br> UI Programmer</p>
                    </div>
                </div>
        </div>
      </div>
  </main>
  </div>
  <div class="col-xs-3 col-md-2 imageDiv d-none d-lg-block" >
       <img class="img-responsive" style="margin-top: 100%" id="swoosh2" src="../Assets/images/sideimager.png">
  </div>
  </div>
  </div>


<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
